@import "tailwindcss";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	* {
		@apply border-zinc-800;
	}

	html,
	body {
		@apply bg-zinc-950 text-gray-200;
	}

	.using-mouse * {
		outline: none;
	}
}
